li {
  padding: 5px;
  margin: 5px;
  background: rgb(43, 43, 43);
}

.label {
  font-weight: bold;
}


.form-group {
  margin-bottom: 5px;
}

.title {
  text-align: center;
}

.left{
  text-align: center;
}

.right{
  text-align: center;
}

.center{
text-align: center;

}

body {
  background-color: rgb(43, 43, 43);
  color: white;
  stroke-width: 2px;
  
}

.hamburger {
  text-align: center;
  align-content: center;
}

.list {
  list-style-type: none
}