
.container {
  width: 12%;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  text-align: center;

}

.left{
  text-align: center;
}

.right{
  text-align: center;
}

.center{
text-align: center;

}

body {
  background-color: rgb(43, 43, 43);
  color: white;
  stroke-width: 2px;
  
}

.hamburger {
  text-align: center;
  align-content: center;
}

.list {
  list-style-type: none;
  font-size: 20pt;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

li {
  padding: 8px;
  margin: 8px;
  background: rgb(43, 43, 43);
}

.checkmark {
  margin-top: .15cm;
  vertical-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}


.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.label {
  font-weight: bold;
}

.container input:checked ~ .checkmark {
  background-color: #d6b600;
}


.container input:checked ~ .checkmark:after {
  display: block;
}


